*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header_logo{
    font-size: 15px;
    color: #010101;
    margin-left: 22%;
    margin-right: 30px;
}
.header_menu{
    font-size: 15px;
}
.header_menu ul{
    list-style: none;
    display: flex;
}
.header_menu li{
    margin: 10px 20px;
    height: 25px;
    width: 80px;
}
.header_menu a{
    text-decoration: none;
    color: #6D6D6D;
    
}
.header_menu a:hover{
    color:#6EB6DC;
    border-bottom: 2px solid #6EB6DC;
    padding-bottom: 5px;
}
